
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

nav {
    border-bottom: 1px solid grey;
    background-color: #fff;
}

.navbar-toggler {
    color: black;
}

.nav-link {
    font-size: 18px;
    color: #535353;
    border-bottom: none;
}

.nav-item {
    padding-left: 20px;
}

.dropdown-menu {
    border-radius: 0;
    padding: .5rem;
    box-shadow: 0 3px 6px rgba(0, 0, 0, .23);
    border: none;
}

.dropdown-menu ul {
    list-style: none;
    padding: 0;
}

.dropdown-menu.show {
    display: flex;
}

.dropdown-menu li a {
    font-size: 17px;
    color: blue;
    padding: .5rem 1em;
}

.paragraph-length {
    display: -webkit-box;
    margin: 0 auto;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
 h5{
    font-size: 17px;
 }
.btn {
    display: flex;
    align-items: center;
    justify-content: center;
}

a{
    text-decoration: none;
    display: flex;
    padding: 5px;
    border-bottom: 1px solid gray;
}
@media screen and (min-width: 993px) {

    .dropdown:hover .dropdown-menu {
        display: flex;
    }

    .dropdown-menu.show {
        display: flex;
    }

 

}

@media screen and (max-width: 769px) {
    .dropdown-menu.show {
        display: inline;
        box-shadow: none;
    }

    .dropdown-menu li a {
        font-size: 18px;
        color: blue;
        padding: .5rem 1em;
    }

    .nav-link {
        font-size: 14px;
    }

}
.form-control:focus{
    box-shadow: none !important;
}